body {
	background-color: black;
}
.white{
	color:white;
}
#main{

	height:90%;
	width: 90%;
	left: 0;
	right: 0;

	margin: auto;
}

#img-div
{


}
#image
{
	max-width :100%;
  display: block;
	height: auto;
	

}
#tribute-info
{
	background-color: #374A67;
	border-radius: 20px;
	border: 5px solid #1D7874;


}

ul {
	list-style-position: inside;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 800px;
}